{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión | TechZone</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="login-container">

    <div class="login-card">

        <div class="login-logo">
            TZ
        </div>

        <h1>TechZone</h1>

        <h2>Iniciar Sesión</h2>

        <form method="post">

            {% csrf_token %}

            <label>Usuario</label>
            <input
                type="text"
                name="username"
                placeholder="Ingresa tu usuario"
                required
            >

            <label>Contraseña</label>
            <input
                type="password"
                name="password"
                placeholder="Ingresa tu contraseña"
                required
            >

            <button type="submit">
                🚀 Ingresar
            </button>

        </form>

        <p>
            ¿No tienes cuenta?
        </p>

        <a href="{% url 'registro' %}">
            Crear cuenta
        </a>

    </div>

</div>

</body>
</html>