{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carrito | TechZone</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <div class="logo">TZ</div>
    <h1>TechZone</h1>
</header>

<section class="carrito-container">

<h1 style="text-align:center; margin-bottom:40px;">
    🛒 Mi Carrito
</h1>

{% if productos_carrito %}

   {% for item in productos_carrito %}

    <div class="carrito-card">
        <img src="{{ item.producto.imagen.url }}">
        
        <div class="carrito-info">
            <h3>{{ item.producto.nombre }}</h3>
            <p>
                Precio unitario: ${{ item.producto.precio }}<br>
                <strong>Cantidad: {{ item.cantidad }}</strong>
            </p>
            <strong style="color:#00ff88; font-size:20px;">
                Subtotal: ${{ item.subtotal }}
            </strong>
        </div>

        <a href="{% url 'eliminar_carrito' item.producto.id %}" class="btn" style="background:#ff4c4c; color:white; border:none;">
            ❌ Quitar Todo
        </a>
    </div>

    {% endfor %}

    <div class="carrito-total">

        <h2>Total: ${{ total }}</h2>

        <br>

        <a href="{% url 'inicio' %}" class="btn" style="background-color: #151515; color: white; border: 1px solid #00d4ff; margin-right: 15px; padding: 12px 25px; border-radius: 10px; text-decoration: none; font-weight: bold;">
            ⬅️ Seguir Comprando
        </a>

        <a
        href="{% url 'finalizar_compra' %}"
        class="btn" style="background: linear-gradient(135deg, #00d4ff, #0099ff); color: white;">
            💳 Finalizar Compra
        </a>

    </div>

{% else %}

<div class="carrito-vacio">

    <h2>🛒 Tu carrito está vacío</h2>

    <p>
        Agrega algunos productos para comenzar.
    </p>

    <br>

    <a href="{% url 'inicio' %}" class="btn" style="background: linear-gradient(135deg, #00d4ff, #0099ff); color: white;">
        🚀 Ir a Comprar
    </a>

</div>

{% endif %}

</section>

</body>
</html>