{% load static %}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | TechZone</title>


<link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>

<header>


<div class="logo">TZ</div>

<h1>TechZone</h1>

<nav>
    <a href="/">Inicio</a>
    <a href="/contacto/">Contacto</a>
</nav>


</header>

<section class="contacto-hero">

    <div class="contacto-left">

        <h1>Contáctanos</h1>

        <p>
            En TechZone estamos listos para ayudarte con compras,
            soporte técnico, garantías y consultas sobre nuestros productos.
        </p>

        <br>

        <a href="/" class="btn">
            🛒 Volver a la Tienda
        </a>

    </div>

    <div class="contacto-right">

        <div class="contact-card">
            <h3>📧 Correo</h3>
            <p>soporte@techzone.cl</p>
        </div>

        <div class="contact-card">
            <h3>📱 Teléfono</h3>
            <p>+56 9 1234 5678</p>
        </div>

        <div class="contact-card">
            <h3>📍 Ubicación</h3>
            <p>Talcahuano, Chile</p>
        </div>

        <div class="contact-card">
            <h3>🕒 Horario</h3>
            <p>Lunes a Viernes<br>09:00 - 18:00</p>
        </div>

    </div>

</section>


<footer>
    <p>© 2026 TechZone - Todos los derechos reservados</p>
</footer>

</body>
</html>
