{% load static %}

<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{ producto.nombre }}</title>


<link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>

<header>


<div class="logo">TZ</div>

<h1>TechZone</h1>


</header>

<section class="producto-detalle">


<div class="imagen-producto">

    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">

</div>

<div class="info-producto">

    <h1>{{ producto.nombre }}</h1>

    <div class="precio">
        ${{ producto.precio }}
    </div>

    <div class="stock">
        Stock Disponible: {{ producto.stock }}
    </div>

    <div class="descripcion">
        {{ producto.descripcion }}
    </div>

    {% if producto.stock > 0 %}

    <a href="{% url 'agregar_carrito' producto.id %}" class="btn">
        🛒 Agregar al carrito
    </a>

    {% else %}

    <p style="color:red;">
        Producto agotado
    </p>

    {% endif %}

    <br><br>

    <a href="/" class="btn">
        ⬅️ Volver
    </a>

</div>


</section>

</body>

</html>
